<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <a href="/downloadPCM" target="blank">
            <button class='btn btn-default'>Download PCM!</button>
        </a>
        
        <a href="/uploadPCM" target="blank">
            <button class='btn btn-default'>Upload PCM!</button>
        </a>
        
        <a href="/downloadTXT" target="blank">
            <button class='btn btn-default'>Download TXT!</button>
        </a>
        
        <a href="/uploadTXT" target="blank">
            <button class='btn btn-default'>Upload TXT!</button>
        </a>
    </body>
</html>